/ProiectIS-ejb/build/
/ProiectIS-war/build/
/build/
/ProiectIS-ejb/dist/
/ProiectIS-war/dist/
/dist/
/ProiectIS-ejb/nbproject/private/
/ProiectIS-war/nbproject/private/
/nbproject/private/
/ProiectIS-war/web/Static/node_modules/
/ProiectIS-war/web/Static/node_modules
/ProiectIS-ejb/nbproject/
/ProiectIS-war/nbproject/
/ProiectIS-ejb/nbproject
/ProiectIS-war/nbproject
/nbproject/
/nbproject
build.xml
