.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: rem(120);
    height 100%;
    padding-bottom: rem(60);
    position: fixed;
    top: 0;
    left 0;
    z-index: 1;
    background-color: $color-2;

    .user-icon {
        width: rem(80);
        height: rem(80);
        margin: 0 auto;
        border-radius: 50%;
        background-image: url('../../src/assets/images/user.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.navigation {
    &__list {
        list-style: none;
        padding: rem(20) rem(10);
    }
}

.hamburger {
    padding-left: 0;
    padding-right: 0;

    &>a {
        padding-left: 0;
        padding-right: 0;
    }

    &__line {
        display: block;
        width: rem(34);
        height: rem(4);
        background-color: white;
        margin: rem(6) auto;
        transition: transition-custom();

        &.line1 {
            &.change {
                -webkit-transform: rotate(-45deg) translate(rem(-6), rem(6)) ;
                transform: rotate(-45deg) translate(rem(-6), rem(6)) ;
            }
        }

        &.line2 {
            &.change {
                opacity: 0;
            }
        }

        &.line3 {
            &.change {
                -webkit-transform: rotate(45deg) translate(rem(-8), rem(-8)) ;
                transform: rotate(45deg) translate(rem(-8), rem(-8)) ;
            }
        }
    }
}

.list__item {
    overflow: hidden;
    width: 100%;
    text-align: center;
}

.item__link {
    display: block;
    padding: rem(30) rem(4);
    width: 100%;
    height 100%;
    color: rgba(255,255,255,0.8);
    text-decoration: none;
    text-transform: uppercase;
    font-size: rem(18);
    transition: transition-custom($property = color);

    &:hover {
        color: white;
    }
}