.total {
    &-container {
        display: flex;
        justify-content: space-between;
        margin-top: rem(16);
        padding-bottom: rem(24);
    }

    &__label {
        font-size: rem(24);
        text-transform: uppercase;
    }
    
    &__value {
        font-size: rem(24);
        text-transform: uppercase;
    }
}