.total {
    &-container {
        display: flex;
        justify-content: space-between;
        margin-top: 1.2vw;
        padding-bottom: 1.6vw;
    }

    &__label {
        font-size: 1.8vw;
        text-transform: uppercase;
    }
    
    &__value {
        font-size: 1.8vw;
        text-transform: uppercase;
    }
}