/**
 * Rupture breakpoints
 */

$xlarge   = 1250px;
$desktop  = 1120px;
$large    = 1050px;
$medium   = 940px;
$tablet   = 768px;
$small    = 640px;
$xsmall   = 480px;
$iphone6p = 414px;
$iphone6  = 375px;
$mobile   = 320px;

$scale    = 0 320px 375px 414px 480px 640px 768px 940px 1050px 1120px 1250px;
