$color-1            =           #F4F4F4;
$color-2            =           #333333;
$color-3            =           rgba(0, 0, 0, 0.4);
$color-4            =           rgba(0, 0, 0, 0.8);
$color-5            =           rgba(255, 255, 255, 0.4);
$color-6            =           rgba(255, 255, 255, 0.6);

$link-default       =           $color-3;
$link-hover         =           black;

$color-text         =           black;