/* General Global CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: rem(16);
  font-weight: normal;
}

.app-container {
  width: 100vw;
  height: 100vh;
  background-color: $color-1;
}

.main {
  display: flex;
  width: 100%;
  height: 100%;
  margin-left: rem(160);
  padding: rem(30) rem(20);
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.btn {
  width: rem(140);
  height: rem(80);
  text-align: center;
  text-transform: uppercase;
  font-size: rem(14);
  color: white;
  background-color: $color-2;
  border: none;

  &:focus {
    outline: rem(1) solid rgba(0,0,0,0.2);
  }
}

.btn-minus {
  max-width: rem(20);
  max-height: rem(20);
  color: $color-9;
  background: none;
  border: none;
  font-size: rem(16);
  margin-right: rem(4);
  padding: 0;
}

.btn-plus {
  max-width: rem(20);
  max-height: rem(20);
  color: $color-9;
  background: none;
  border: none;
  font-size: rem(16);
  margin-left: rem(4);
  padding: 0;
}

.btn-delete {
  max-width: rem(58);
  min-height: rem(58);
  font-size: rem(38);
  background: none;
  color: $color-7;
  padding: 0;

  &.-huge {
    max-width: rem(140);
    color: white;
    background-color: $color-7;
    font-size: rem(14);
  }
}

.btn-confirm {
}