<header class="header" th:fragment="header">
    <nav class="navigation">
        <ul class="navigation__list">
            <li class="list__item">
                <a href="#" class="item__link js-dash">
                    <i class="item__icon fas fa-chart-bar"></i>
                    <p class="item__title">Dashboard</p>
                </a>
            </li>
            <li class="list__item">
                <a href="/sale" class="item__link js-new-sale">
                    <i class="item__icon fas fa-shopping-basket"></i>
                    <p class="item__title">New Sale</p>
                </a>
            </li>
            <li class="list__item">
                <a href="/admin/addproduct" class="item__link js-add-product">
                    <i class="item__icon fas fa-plus-circle"></i>
                    <p class="item__title">Add Product</p>
                </a>
            </li>
        </ul>
    </nav>
    <div class="user__data" onclick="document.getElementById('modal').style.display='block'">
        <div class="user__icon"></div>
        <p class="user__name">Vlad</p>
    </div>
</header>