<header class="header" th:fragment="header">
    <nav class="navigation">
        <ul class="navigation__list">
            <li class="list__item">
                <a href="/admin/addproduct" class="item__link js-dash">
                    <i class="item__icon fas fa-chart-bar"></i>
                    <p class="item__title">Dashboard</p>
                </a>
            </li>
            <li class="list__item">
                <a href="/sale" class="item__link js-new-sale">
                    <i class="item__icon fas fa-shopping-basket"></i>
                    <p class="item__title">New Sale</p>
                </a>
            </li>
        </ul>
    </nav>
    <a href="/login">
        <div class="user__data">
            <div class="user__icon"></div>
            <p class="user__name">Vlad</p>
        </div>
    </a>
</header>