<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head"/>

<body>
<form th:action="@{/register}" method="get">
    <button class="btn btn-md btn-warning btn-block" type="Submit">Go To Registration Page</button>
</form>

<div class="container">
    <form class="login__form" th:action="@{/login}" method="POST">
        <div class="login__image"></div>

        <div class="login__container">
            <input class="login__input" id="username" type="text" placeholder="Enter Username" name="username" required>
            <input class="login__input" id="password" type="password"  placeholder="Enter Password" name="password"
                   required>
            <div align="center" th:if="${param.error}">
                <p style="font-size: 20; color: #FF1C19;">Username or Password invalid, please verify</p>
            </div>

            <button type="submit" class="btn btn-confirm">Login</button>
            <label>
                <input class="login__check" type="checkbox" checked="checked" name="remember"> Remember
                me
            </label>
        </div>

        <div class="login__footer">
            <div class="login__container">
                <button type="button" onclick="document.getElementById('modal').style.display='none'"
                        class="btn btn-delete -huge">Cancel</button>
                <span class="psw">Forgot <a href="#">password?</a></span>
            </div>
        </div>
    </form>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>