<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head"/>

<body>
<script id="productItem" type="text/x-handlebars-template">
    <li class="product">
        <img src="{{{image}}}" alt="picture of product" class="product__image">
        <div class="product__data">
            <h2 class="product__title">
                {{{name}}}
            </h2>
            <h4 class="product__code">BARCODE:{{{id}}} </h4>
        </div>
        <div class="product__quantity">
            <button class="btn btn-minus fas fa-minus" type="button" name="minus"></button>
            <input class="quantity__input" type="text" name="quantity" value="1" disabled>
            <button class="btn btn-plus fas fa-plus" type="button" name="plus"></button>
        </div>
        <div class="product__price">
            <p class="price__label">Price</p>
            <p class="price__value">{{{price}}}</p>
        </div>
        <button class="btn btn-delete far fa-trash-alt"></button>
    </li>
</script>

<div class="app-container">
    <header th:replace="fragments/navbar ::header">
    </header>
    <div class="main">
        <div class="container">
            <div class="wrapper">
                <div class="products__container">
                    <ul class="products__list">
                        <th:block th:each="item :${invoiceItems}">
                            <li class="product">
                                <img th:src="${item.product.image}" alt="picture of product" class="product__image">
                                <div class="product__data">
                                    <h2 class="product__title" th:text="${item.product.name}"/>
                                    <h4 class="product__code" th:text="'BARCODE:'+${item.product.id}"/>
                                </div>
                                <div class="product__quantity">
                                    <button class="btn btn-minus fas fa-minus" type="button" name="minus"></button>
                                    <input class="quantity__input" type="text" name="quantity"
                                           th:value="${item.quantity}" disabled>
                                    <button class="btn btn-plus fas fa-plus" type="button" name="plus"></button>
                                </div>
                                <div class="product__price">
                                    <p class="price__label">Price</p>
                                    <p class="price__value" th:text="${item.product.price}"/>
                                </div>
                                <button class="btn btn-delete far fa-trash-alt"></button>
                            </li>
                        </th:block>
                    </ul>
                </div>
                <div class="action">
                    <button class="btn js-btn-promotions">Promotions</button>
                    <div class="modal" id="js-check-coupon">
                        <button class="close-button" onclick="document.getElementById('js-check-coupon').style.display='none'" >Close</button>
                        <div class="modal__content">
                            <form class="modal__form" action="" method="post">
                                <input class="modal__input" name="coupon-code" type="text" placeholder="Insert Coupon Code" required>
                                <div class="modal__action-wrapper">
                                    <button class="btn -small js-check">Check</button>
                                    <button class="btn -small js-apply-coupon" type="submit">Apply</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <button class="btn js-btn-coupons" onclick="document.getElementById('js-check-coupon').style.display='block'">Coupons</button>
                    <button class="btn js-btn-drawer">Open Drawer</button>
                    <button class="btn js-btn-cancel">Cancel Bill</button>
                    <button class="btn btn-delete -huge js-delete-all js-btn-delete-all">Delete All</button>
                </div>
            </div>
            <div class="keypad">
                <form action="" class="keypad__form">
                    <input class="keypad__display js-display" type="text" name="keypad-display">
                    <div class="keypad__container">
                        <div class="numbers-container">
                            <div class="row">
                                <button class="btn -small js-key">7</button>
                                <button class="btn -small js-key">8</button>
                                <button class="btn -small js-key">9</button>
                            </div>
                            <div class="row">
                                <button class="btn -small js-key">4</button>
                                <button class="btn -small js-key">5</button>
                                <button class="btn -small js-key">6</button>
                            </div>
                            <div class="row">
                                <button class="btn -small js-key">1</button>
                                <button class="btn -small js-key">2</button>
                                <button class="btn -small js-key">3</button>
                            </div>
                            <div class="row">
                                <button class="btn -extra js-key">0</button>
                                <button class="btn -small js-key">.</button>
                            </div>
                        </div>
                        <div class="functions-container">
                            <button class="btn btn-delete -small js-key-del">Del</button>
                            <button type="button" class="btn btn-confirm -extra js-btn-search">Ent</button>
                        </div>
                    </div>
                </form>
                <div class="subtotal-container">
                    <div class="subtotal__row">
                        <p class="subtotal__label">Subtotal</p>
                        <p class="subtotal__value" th:text="${initialPrice}? ${initialPrice}+' RON': '0 RON'"/>
                    </div>
                    <div class="subtotal__row">
                        <p class="discount__label">Discount</p>
                        <p class="discount__value" th:text="${discountPercentage!=null}? ${discountedPrice}+'%': '0%'"/>
                    </div>
                </div>
                <div class="total-container">
                    <p class="total__label">Total</p>
                    <p class="total__value" th:text="${finalPrice}? ${finalPrice}+' RON': '0 RON'"/>
                </div>
                <a href="/checkout">
                    <button class="btn btn-confirm">Confirm</button>
                </a>
            </div>
        </div>
    </div>
</div>


<div th:replace="fragments/footer :: footer"/>
</body>

</html>