.action {
    display: flex;
    padding-top: 3vh;
    justify-content: space-between;
    padding-bottom: rem(10);
    
    .btn {
        margin-right: rem(4);

        &:last-child {
            margin-right: 0;
        }
    }
}