.checkout {

    &__container {
        width: 60%;
        height: 90vh;
        padding: rem(14) rem(18);
        background-color: white;
        box-shadow: 0 0 rem(8) 0 rgba(124, 124, 124, 45);
        overflow: hidden;
        overflow-y: scroll;
    }

    &__intro {
        text-transform: uppercase;
        font-weight: 300;
        font-size: rem(36);
        text-align: center;
        padding: rem(20) rem(10);
        margin: rem(15) 0;
    }

    &__info {
    }

    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__id {
    }

    &__date {
    }

    &__author {
    }

    &__discount-code {
    }

    &__discount-percentage {
    }

    &__initial-price {
    }

    &__final-price {
    }

    &__list {
    }

    &__item {
    } 
}